.containerLogin{
    background: rgb(56,119,255);
    background: radial-gradient(circle,
     rgba(56,119,255,1) 0%,
     rgb(18, 61, 153) 80%);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.containerForm{
    background-color: rgb(22, 35, 63);
    border-radius: 0.6rem;
    padding: 2rem;
    height: 54vh;
    width: 42vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerForm span, Label {
    color: rgb(228, 228, 228);
}

.credentialsPanel {
    width: 20rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: rgb(22, 35, 63);
    color: white;
    
    display: flex;
    flex-direction: column;
}